body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGFya3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60");
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.logo {
    width: 30px;
    margin: 2rem;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 2em;
    margin: 1em;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
}

.primary-navigation a {
    color: white;
    text-decoration: none;
}

@media (max-width: 35rem) {
    .primary-navigation {
        --gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url("menu.svg");
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

}